.footer {
  text-align: right;
  margin-top: calc(2rem - 5px);

  .Polaris-FormLayout {
  }

  .Polaris-FormLayout {
    text-align: left;
  }
}

.footer-subtotal {
  color: var(--color-archived);
  display: flex;
  justify-content: flex-end;

  padding: 5px 0;
  > span {
    color: var(--color-archived);
  }

  > em {
    font-style: normal;
    width: 9rem;
    padding-left: 10px;
    color: var(--color-body-text);
    font-weight: var(--header-font-weight);
  }
}

.footer-shipping {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 0;

  > span {
    color: var(--color-archived);
  }

  > em {
    font-style: normal;
  }

  .Polaris-TextField {
    width: 100%;
    max-width: 7rem;
    margin-left: 2rem;
  }
}

.footer-amount {
  background-color: var(--color-bg-gray);
  margin-top: calc(2rem - 5px);
  margin-left: -2rem;
  margin-right: -2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  border-top: 1px solid var(--table-border);
  border-bottom: 1px solid var(--table-border);

  & + .Polaris-FormLayout {
    margin-top: 2rem;
  }

  > span {
    color: var(--color-archived);
  }

  .Polaris-TextField {
    width: 100%;
    max-width: 7rem;
    text-align: right;
  }

  .Polaris-Choice {
    width: 100%;
    justify-content: flex-end;
    margin-top: 1rem;
    padding: 0;
  }
}
