.footer {
  text-align: right;
  margin-top: 20px;

  .Polaris-FormLayout {
  }
    margin-top: 20px;

  .Polaris-FormLayout {
    text-align: left;
  }
}

.footer-subtotal {
  color: var(--color-archived);
  display: flex;
  justify-content: flex-end;

  padding: 6px 0;
  > span {
    color: var(--color-archived);
  }

  > em {
    font-style: normal;
    width: 100px;
    padding-left: 10px;
    color: var(--color-body-text);
    font-weight: var(--header-font-weight);
  }
}

.footer-shipping {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 6px 0;

  > span {
    color: var(--color-archived);
  }

  > em {
    font-style: normal;
  }

  .Polaris-TextField {
    width: 90px;
    min-width: 90px;
    margin-left: 10px;
  }
}

.footer-amount {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0 0;
  border-top: 1px solid var(--table-color-border);

  > span {
    color: var(--color-archived);
  }

  .Polaris-TextField {
    width: 100%;
    max-width: 120px;
    margin-left: 10px;
  }

  .Polaris-Choice {
    width: 100%;
    justify-content: flex-end;
    margin-top: 16px;
  }
}
