.line-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -2rem;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    bottom: 0;
    border-bottom: 1px solid var(--table-border);
    left: 2rem;
    right: 0;
  }
}

.line-item-title {
  flex-basis: 23rem;
  flex-grow: 1;
  padding: 2rem 0 2rem 2rem;

  em {
    display: block;
    font-style: normal;
    color: var(--color-archived);
  }
}

.line-item-price {
  padding: 2rem 0 2rem 0;
}

.line-item-times {
  padding: 2rem;
  text-align: center;
  flex-grow: 1;
}

.line-item-qty {
  flex-basis: 6rem;
  padding: 2rem 0 2rem 0;
}

.line-item-line-price {
  padding: 2rem 0 2rem 2rem;
  text-align: right;
  flex-basis: 9rem;
  margin-left: auto;
}

.line-item-attributes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  flex-grow: 1;
  flex-basis: 20rem;
}
