.line-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--table-border);
  flex-wrap: wrap;
  justify-content: space-between;
}

.line-item-title {
  flex-grow: 1;
  flex-basis: 100%;
  padding: 20px 10px 20px 0;

  @media (--s) {
    flex-basis: 200px;
  }

  @media (--m) {
    flex-basis: 100%;
  }

  @media (--l) {
    flex-basis: 200px;
  }

  em {
    display: block;
    font-style: normal;
    color: var(--color-archived);
  }
}

.line-item-price {
  padding: 20px 10px 20px;
}

.line-item-times {
  padding: 20px 10px 20px;
}

.line-item-qty {
  flex-basis: 81px;
  padding: 20px 0 20px 10px;
}

.line-item-line-price {
  flex-basis: 7rem;
  padding: 20px 0 20px 10px;
  text-align: right;
}
