<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>App</title>
  <link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/latest/polaris.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>

  <script type="text/javascript">
    window.apiKey = "<%= settings.api_key %>";
    window.shopOrigin = "<%= current_shop_url %>";

    var shopifyAppConfig = {
      apiKey: window.apiKey,
      shopOrigin: window.shopOrigin,
    };

    // This will allow you to access the app outside of the Shopify
    // parent iframe in development mode. Doing this will give you
    // access to React and Redux dev tools, but will also disrupt
    // postmessages to the parent and block EASDK calls
    // https://help.shopify.com/api/sdks/shopify-apps/embedded-app-sdk/methods#shopifyapp-init-config
    <% if ENV['RACK_ENV'] == 'development' %>
      shopifyAppConfig.forceRedirect = false;
    <% end %>

    ShopifyApp.init(shopifyAppConfig);
  </script>

  <div id="root"></div>
  <script src="/js/bundle.js"></script>
</body>
</html>
