<h4>Orders</h4>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Payment status</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <a href="/orders/<%= order.id %>">
            <%= order.name %>
          </a>
        </td>
        <td><%= order.financial_status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @paged %>
