<h4>Orders</h4>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Payment status</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <a href="/orders?id=<%= order.id %>">
            <%= order.name %>
          </a>
        </td>
        <td>
          <% if order.tag_include?(settings.tag_partially_refunded) %>
            Partially Refunded
          <% elsif order.tags_include?(settings.tag_refunded) %>
            Refunded
          <% else %>
            Paid
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
